<body>
  

<%- include('../partials/_navbar.ejs') %>
<h1>create anew account</h1>
<form action="/auth/sign-up" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />
  <br>
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <br>
  <br>
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword" />
  <br>
  <br>
  <button type="submit">Sign up</button>
</form>
</body>